* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

input {
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  background-color: beige;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 8px;
  overflow: hidden;
}

.card p {
  padding: 2px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

.card img {
  max-height: 170px;
}

.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  animation: scale-up 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up {
  20% {
    background-color: black;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
